---
import LayoutMain from "../layouts/LayoutMain.astro";
import ModuleTop from "../components/ModuleTop.astro";
import ModuleCMN from "../components/ModuleCMN.astro";
---

<LayoutMain title="About | Web Dev">
  <ModuleTop title="About us">
    <p>Get to know us better!</p>
  </ModuleTop>
  <ModuleCMN content="Web Dev Agency is the custom company">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Sed sed
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod
      tempor incididunt ut labore et dolore magna aliqua. Sed sed
    </p>
  </ModuleCMN>
</LayoutMain>
