---
import LayoutMain from "../layouts/LayoutMain.astro";
import ModuleTop from "../components/ModuleTop.astro";
import ModuleCMN from "../components/ModuleCMN.astro";
---

<LayoutMain title="About | Web Dev">
  <ModuleTop title="About us">
    <p>Get to know us better!</p>
  </ModuleTop>
  <ModuleCMN content="Welcome Aboard Learn Our Mission and Vision.">
    <p>
      We are a expert developers who strive to provide innovative solutions to complex problems. Our services cover a wide range of areas, and we take pride in delivering top-notch products of the highest quality.
    </p>
    <p>We strive to be a leading force in the software development industry, delivering cutting-edge technologies and exceptional user experiences that drive growth, efficiency, and competitive advantage for our clients.</p>
    <p>
      Our experienced team takes pride in working closely with our clients, forging collaborative partnerships to achieve the best possible outcomes.
    </p>
    <p>We believe that understanding our clients' unique needs, goals, and challenges is paramount to delivering exceptional results.</p>
    <p>

    </p>
  </ModuleCMN>
</LayoutMain>
