---
import LayoutMain from "../layouts/LayoutMain.astro";
import ModuleTop from "../components/ModuleTop.astro";
import ModuleCMN from "../components/ModuleCMN.astro";
import Slider from "../components/Slider.astro";
---

<LayoutMain title="Web Dev Agency">
  <div class="flex flex-col items-center">
    <Slider/>
    <div>
      <a
        href="/projects"
        class="uppercase bg-orange-200 p-4 block w-max rounded-xl font-semibold hover:text-black-main mt-8 mb-5 text-lg"
      >
        Projects
      </a>
    </div>
    <div class="title-main" id="title-main">
      <ModuleTop title="Axell Tech"/>
    </div>
      <ModuleCMN content="Welcome Aboard Learn Our Mission and Vision.">
        <p>
         Axell Tech is a software development company that provides high-quality software solutions, empowering businesses and individuals worldwide to thrive in an ever-evolving digital era.
        </p>
        <p>
          We are experts in Custom Software Development. Our experienced team of software engineers are committed to delivering high-quality work in a short time frame.
        </p>
      </ModuleCMN>
  </div>
</LayoutMain>
