---
import LayoutMain from "../layouts/LayoutMain.astro";
import ModuleTop from "../components/ModuleTop.astro";
import ModuleCMN from "../components/ModuleCMN.astro";
---

<LayoutMain title="Web-Dev-Agency">
  <div class="flex flex-col items-center">
    <div>
      <a
        href="/services"
        class="uppercase bg-orange-200 p-4 block w-max rounded-xl font-semibold hover:text-black-main mt-[57px] text-lg"
      >
        Services
      </a>
    </div>
    <div class="title-main" id="title-main">
      <ModuleTop title="Web Dev Agency"/>
    </div>
    <div class="content-cmn-sec">
      <ModuleCMN content="This is description for web dev agency">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed sed
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod
          tempor incididunt ut labore et dolore magna aliqua. Sed sed
        </p>
      </ModuleCMN>
    </div>
  </div>
</LayoutMain>
