---
import Nav from "../components/Nav.astro";
import TitleColumn from "../components/TitleCMN.astro";
import { Image } from "astro:assets";
import phone from "../img/phone.svg";
import location from "../img/location.svg";
import linkedin from "../img/linkedin.svg";
import email from "../img/email.svg";
---

<footer class="text-white-main bg-gray-500 w-full mt-auto">
  <div class="flex flex-col content md:pt-5 pb-2">
    <div class="footer-content mb-8 md:mb-0">
      <div class="footer-column">
        <TitleColumn title="Key Information"/>
        <Nav />
        <hr class="line-comm" />
      </div>
      <div class="footer-column">
        <TitleColumn title="Schedule"/>
        <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16"><g fill="#d1d2d6"><path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"></path><path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"></path></g></svg>
          <div class="info-clock ml-3">
            <p class="flex flex-wrap">Monday - Friday: <span class="ml-1 md:ml-2">09:00 - 17:00 AM</span></p>
          </div>
        </div>
        <hr class="line-comm" />
        <TitleColumn title="Social media"/>
        <div
          class="social-media font-semibold flex flex-wrap gap-4"
          >
          <a href="#linkedin" target="_blank">
            <Image src={linkedin} alt="linkedin" width="32" height="32" loading="eager"></Image>
          </a>


          <a href="#instagram" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 15 15"><path fill="none" stroke="#d1d2d6" d="M11 3.5h1M4.5.5h6a4 4 0 0 1 4 4v6a4 4 0 0 1-4 4h-6a4 4 0 0 1-4-4v-6a4 4 0 0 1 4-4Zm3 10a3 3 0 1 1 0-6a3 3 0 0 1 0 6Z"></path></svg>
            </a>
            <a href="#facebook" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 14 14"><path fill="none" stroke="#d1d2d6" stroke-linecap="round" stroke-linejoin="round" d="M.5 12.5v-11a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v11a1 1 0 0 1-1 1h-3V8.76h.71a.61.61 0 0 0 .61-.61v-.77a.611.611 0 0 0-.61-.61h-.67v-.94c0-.84.38-.84.76-.84h.49a.55.55 0 0 0 .43-.18a.58.58 0 0 0 .18-.43v-.74a.618.618 0 0 0-.6-.64H9.65a2.32 2.32 0 0 0-2.39 2.6v1.17h-.64a.61.61 0 0 0-.62.61v.77a.61.61 0 0 0 .62.61h.64v4.74H1.5a1 1 0 0 1-1-1"></path></svg>
            </a>
        </div>
        <hr class="line-comm" />
      </div>
      <div class="footer-column">
        <TitleColumn title="Contact"/>
        <div class="list-contact">
          <ul>
            <li>
                <Image src={phone} alt="phone" width="32" height="32" loading="eager"></Image>
              <a href="tel:0755054654" target="_blank">0755054654</a>
            </li>
            <li>
              <Image src={email} alt="email" width="32" height="32"
              loading="eager"></Image>
              <a href="#email"> Email Agency </a>
            </li>
            <li>
                <Image src={location} alt="location" width="32" height="32" loading="eager"></Image>
              <a href="#location" target="_blank"> Location Agency </a>
            </li>

          </ul>
        </div>
        <hr class="line-comm" />
      </div>
    </div>
    <div class="text-xs">
      <div
        class="copyright flex flex-wrap lg:flex-nowrap justify-center lg-mt-0 opacity-[0.6]"
      >
        <p class="mr-2">
          Copyright <span>&copy;</span> 2024 Web Dev Agency
        </p>
        <p>All rights reserved.</p>
      </div>
      <hr class="line-comm" />
    </div>
  </div>
</footer>
