---
import Nav from "../components/Nav.astro";
---

<header class="fixed z-[1000] w-screen bg-gray-500" id="header">
    <div class="w-full flex justify-center items-center p-3">
    <div class="max-w-[1000px] size-full flex justify-center items-center relative">
        <div class="nav-content brand absolute left-0">
            <a href="/">LOGO</a>
        </div>
        <div class="nav-content lg:justify-center lg:flex block flex-wrap flex-col">
            <div class="hidden lg:flex items-center text-xs text-gray-200 justify-center">
                <div class="flex gap-1">
                    <ul class="flex gap-1">
                        <li><a href="tel:0787426368"></a></li>
                        &#8226;
                        <li><a href="#"></a>Location Agency</li>
                        &#8226;
                    </ul>
                    <p>Luni- Vineri: <span>09:00 - 17:00</span></p>
                    &#8226;
                </div>
                <div>
                    <div>
                        <a href="#" target="_blank">FB</a>
                        <a href="#" target="_blank">IG</a>
                    </div>
                </div>
                <hr class="block mt-5 h-[1px]">
            </div>
            <div class="flex items-center justify-between w-full lg:w-auto px-0">
                <Nav/>
            </div>
        </div>
    </div>
</div>
</header>