---

---

<header class="fixed z-[1000] w-screen bg-gray-500" id="header">
    <div class="flex items-center flex-wrap justify-between lg:justify-normal lg:flex-nowrap">
        <div class="nav-content brand">
            <a href="/">LOGO</a>
        </div>
        <div class="nav-content lg:justify-center lg:flex block flex-wrap">
            <div class="hidden lg:flex items-center text-xs text-gray-200">
                <div class="flex gap-1">
                    <ul class="flex gap-1">
                        <li><a href="tel:0787426368"></a></li>
                        &#8226;
                        <li><a href="#"></a>Location Agency</li>
                        &#8226;
                    </ul>
                    <p>Luni- Vineri: <span>09:00 - 17:00</span></p>
                    &#8226;
                </div>
                <div>
                    <div>
                        <a href="#" target="_blank">FB</a>
                        <a href="#" target="_blank">IG</a>
                    </div>
                </div>
                <hr class="block mt-5 h-[1px]">
            </div>
            <div class="nav-bar flex items-center justify-between w-full lg:w-auto px-0">
                <div class="nav-list">
                    <div class="hamburger relative size-[60px] border-[3px] border-solid border-white-main rounded-full flex items-center justify-center z-[100] cursor-pointer">
                        <div class="bar h-[2px] w-[30px] relative bg-white-main z-[-1]"></div>
                    </div>
                    <ul>
                        <li><a href="/"></a></li>
                        <li><a href="/services"></a>Services</li>
                        <li><a href="/projects"></a>Projects</li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>