---
import { Image } from "astro:assets";
import location from "../img/location.svg";
import phone from "../img/phone.svg";
import Nav from "../components/Nav.astro";
---

<header class="fixed z-[1000] w-screen bg-gray-500" id="header">
    <div class="flex justify-center items-center md:py-2 content">
    <div class="size-full flex justify-between items-center relative py-3 md:py-0">
        <div class="nav-content brand flex items-center justify-between w-full md:block md:w-auto">
            <a href="https://web-dev-agency.pages.dev/"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 2048 2048" role="img" aria-label="title"><title>[logo-brand]</title><path fill="#f9a602" d="M1223 768h660L603 2048H313l384-768H248L888 0h719zM549 1920L1573 896h-557l384-768H967L455 1152h449l-384 768z"></path></svg></a>
            <div id="menu-icon">
                <svg class="hamburger-icon nav-icon opacity-80 md:hidden" id="hamburger" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 50 50" fill="white">
                    <path d="M 3 9 A 1.0001 1.0001 0 1 0 3 11 L 47 11 A 1.0001 1.0001 0 1 0 47 9 L 3 9 z M 3 24 A 1.0001 1.0001 0 1 0 3 26 L 47 26 A 1.0001 1.0001 0 1 0 47 24 L 3 24 z M 3 39 A 1.0001 1.0001 0 1 0 3 41 L 47 41 A 1.0001 1.0001 0 1 0 47 39 L 3 39 z"></path>
                    </svg>
                    <svg class="close-icon hidden nav-icon opacity-60 md:!hidden" id="close" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48" fill="white">
                        <path d="M 39.486328 6.9785156 A 1.50015 1.50015 0 0 0 38.439453 7.4394531 L 24 21.878906 L 9.5605469 7.4394531 A 1.50015 1.50015 0 0 0 8.484375 6.984375 A 1.50015 1.50015 0 0 0 7.4394531 9.5605469 L 21.878906 24 L 7.4394531 38.439453 A 1.50015 1.50015 0 1 0 9.5605469 40.560547 L 24 26.121094 L 38.439453 40.560547 A 1.50015 1.50015 0 1 0 40.560547 38.439453 L 26.121094 24 L 40.560547 9.5605469 A 1.50015 1.50015 0 0 0 39.486328 6.9785156 z"></path>
                        </svg>
            </div>
        </div>
        <div class="nav-bottom nav-content md:flex flex-wrap overflow-hidden bg-gray-500 absolute top-[56px] inset-x-0 md:relative md:top-0 h-0 md:h-auto">
            <div class="flex items-center justify-center w-full lg:w-auto px-0 uppercase">
                <Nav/>
            </div>
            <div class="hidden lg:flex items-center text-xs text-gray-200 justify-center">
                <div class="flex gap-1">
                    <ul class="flex gap-5">
                        <li>
                            <Image src={location} alt="location" width="28" loading="eager"></Image>
                            <a href="https://maps.app.goo.gl/L9D1quGgsfuWWkxS8" target="_blank"> Bucharest, Piața Unirii, Nr 1</a>
                        </li>
                        <li>
                            <Image src={phone} alt="phone" width="28" loading="eager"></Image>
                          <a href="tel:0755054654" target="_blank">+4075505465</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</header>