<div class="nav-list">
  <ul>
    <li><a title="Home" href="/">Home</a></li>
    <li><a title="Services" href="/services">Services</a></li>
    <li><a title="Projects" href="/projects">Projects</a></li>
    <li><a title="About" href="/about">About</a></li>
    <li><a title="Contact" href="/contact">Contact</a></li>
  </ul>
</div>
