.contact-content {
  .map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    img {
      filter: hue-rotate(180deg) !important;
    }
  }
  .content-cmn-bottom {
    @apply flex justify-between flex-col w-[81vw];
    .contact-column {
      @apply flex flex-col items-center text-center justify-start;
      ul {
        li {
          @apply flex items-center justify-center;
          img {
            @apply mr-1;
          }
        }
      }
      .address {
        .title-cmn {
          @apply mt-0;
        }
      }
    }
  }
}

@screen md-media {
  .contact-content {
    .content-cmn-bottom {
      @apply flex-row justify-around;
    }
  }
}
