/* title main homepage */

.title-main {
    .module-top {
        h2 {
          @apply animate-textrevealmain lg:text-[68px] ;
          animation-delay: 1s;
        }
    }
  }

/* line */

.line-comm {
  @apply mt-4 opacity-50;
}

/* social-media */

.social-media {
  a:hover {
   @apply bg-orange-500 rounded-lg;
   filter: grayscale(100%);
  }
}
