/* title main homepage */

.title-main {
    .module-top {
      @apply my-[22px];
      h2 {
        @apply animate-textrevealmain text-[40px] lg:text-[68px];
        color: transparent;
        animation-delay: 1s;
        span {
            animation-delay: 0.5s;
        }
      }
    }
  }

/* line */

.line-comm {
  @apply mt-2 opacity-50;
}