.gallery-projects {
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  @apply grid-flow-dense grid gap-5;
}

.fancybox-container {
  .fancybox-navigation {
    .fancybox-button--arrow_right,
    .fancybox-button--arrow_left {
      @apply hidden;

    }
  }
  .fancybox-infobar {
    @apply ml-[14px];
  }
  .fancybox-thumbs {
    background: transparent;
    @apply mt-[10px];
    .fancybox-thumbs__list {
      a {
        @apply h-[96px] w-[96px];
        &::before {
          @apply border-orange-200 border-[3px];
        }
      }
    }
  }
    .fancybox-image {
      padding: 24px;
    }
}

@screen md-media {
  .gallery-projects {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    @apply mx-auto max-w-[900px];
    div {
      @apply relative;
      a {
        @apply ease-in-out duration-500;
        &:hover {
          @apply brightness-50 ease-in-out duration-500;
          &::before {
            @apply content-[""] absolute inset-0 box-border border-solid border-[5px] border-orange-200;
          }
        }
      }
    }
  }
  .fancybox-container {
    .fancybox-infobar {
      @apply ml-[70px];
    }
    .fancybox-toolbar {
      @apply mr-[36px];
    }
    .fancybox-thumbs {
      @apply w-[250px];
      .fancybox-thumbs__list {
        a {
          @apply h-[119px] w-[130px];
        }
      }
    }
    .fancybox-image {
      @apply scale-[0.84];
      padding: 0;
    }
  }
}


@screen lg-media {
  .fancybox-container {
    .fancybox-thumbs {
      @apply w-[310px];
      .fancybox-thumbs__list {
        a {
          @apply h-[140px] w-[140px];
        }
      }
    }
      .fancybox-toolbar {
        @apply mr-[100px];
      }
      .fancybox-image {
        @apply scale-[0.83];
        padding: 0;
      }
  }
}