.slider {
  .slider-track {
    .slide {
      @apply min-w-fit flex items-center p-[10px];
      perspective: 100px;
      a {
        transition: transform 0.7s;
        &:hover {
          @apply cursor-pointer;
          transform: translateZ(10px);
        }
        img {
          @apply w-full h-[300px] object-cover;
        }
      }
    }
    &:hover {
      animation-play-state: paused;
    }
  }
  &::before {
    @apply left-0 top-0;
  }
  &::after {
    @apply right-0 top-0;
    transform: rotateZ(180deg);
  }
}
